VITE_API_URL=http://localhost:3000
VITE_EMAILJS_SERVICE_ID=service_xxxxxx
VITE_EMAILJS_TEMPLATE_ID=template_xxxxxx
VITE_EMAILJS_PUBLIC_KEY=abc123XYZ456
VITE_EMAILJS_TEMPLATE_NEWSLETTER_ID=template_xxxxxx